@import 'variables';

// body
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  line-height: 1.43;
  font-size: 100%;
  letter-spacing: 0.25px;
  font-weight: 400;
  color: #777d80;
  background: #f5f7f9;
}

// Input
input[type='color'] {
  min-height: 44px;
}

// React date picker
.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

// icons
i.icon,
i.icons {
  outline: 0px !important;
}

/**
  ------------------------------------------
  Helpers
  ------------------------------------------
*/
.login-shadow {
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07) !important;
}

.dwl img {
  margin-bottom: 1rem;
}

.dwl h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.dwl span {
  font-size: 1.5rem;
}

.fc-container {
  min-height: 360px;
}

.fc-container h3 {
  color: inherit;
}

.fc-description {
  line-height: 1.5rem;
}

.top--3 {
  top: -3rem;
}

.bg-none {
  background: none;
}

.no-child-margin > * {
  margin: 0 !important;
}

.fill-white {
  fill: #fff;
}

.bg-primary-color {
  background-color: #334152 !important;
  color: #fff !important;
}

.app-text-color {
  color: #58687e;
}

.app-text-fill {
  fill: #58687e;
}

.blur {
  -webkit-filter: blur(3.5px);
  /* Safari 6.0 - 9.0 */
  filter: blur(3.5px);
}

.ml6-5 {
  margin-left: 12.5rem;
}

.ml3-5 {
  margin-left: 3rem;
}

.top-inherit {
  top: inherit;
}

.pt-nav {
  padding-top: 5rem;
}

.min-width-auto {
  min-width: auto;
}

.min-h5 {
  min-height: 16rem;
}

.pb0-imp {
  padding-bottom: 0 !important;
}

.pa0-imp {
  padding: 0 !important;
}

.h2-5 {
  height: 2.5rem;
}

.lh-2-5 {
  line-height: 2.5rem;
}

.bg-washed-light-blue {
  background-color: #e9eff5;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.gradient-overlay {
  position: absolute;
  background: linear-gradient(
    -135deg,
    rgb(25, 143, 53) 0,
    rgb(0, 111, 191) 100%
  );
  opacity: 0.6;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.bg-overlay:before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: 4em;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
