@import 'variables';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,500,600,700');

$body-font: 'Lato', sans-serif;
$header-font: 'Poppins', serif;

body {
  font-family: $body-font !important;
}

h1,
h2,
h3,
h4,
h5,
.ReactTable .rt-thead .rt-th,
.ui.card > .content > .header,
.ui.cards > .card > .content > .header,
.ui.modal > .header,
.ui.menu {
  color: $header-color;
  font-family: $header-font !important;
  font-weight: 500;
  letter-spacing: -0.25px;
}

a {
  color: $primary-color;
  & :hover {
    color: lighten($primary-color, 10%);
  }
}

.lato {
  font-family: $body-font;
}
