@import 'variables';
@import 'customizations';

/**
  ------------------------------------------
  Layout Cont
  ------------------------------------------
*/
.pushable {
  overflow: hidden;
  transform: none !important;
}

.ui {
  &.left {
    /**
      ------------------------------------------
      Sidebar
      ------------------------------------------
    */
    &.sidebar {
      background: #27354c;
      position: fixed !important;
      margin: 54px 0 0 !important;
      padding: 0 !important;
      height: 100vh !important;
      height: calc(100vh - 54px) !important;
      border: none !important;
      box-shadow: none;
      visibility: visible !important;
      width: 220px;

      /**
        ------------------------------------------
        Sidebar Menu
        ------------------------------------------
      */
      .navSection {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 2rem 0;

        .ui {
          &.menu,
          &.menu .menuItem {
            background: none !important;
            box-shadow: none !important;
            border: 0 !important;
            display: flex;
            flex-direction: column;
            width: 100%;
            list-style: none;

            > a {
              display: flex;
              flex-direction: row;
              padding: 0.75em;
              margin: 0;
              width: 100%;
              justify-content: flex-start;
              text-transform: capitalize !important;
              line-height: 20px !important;
              font-weight: 400 !important;
              font-size: 0.975em !important;
              white-space: normal !important;
              color: #abb1ba !important;
              transition: all 0.25s ease !important;

              &.active {
                background: rgba(255, 255, 255, 0.05) !important;
                padding-left: 0.5em !important;
                border-left: 0.25em solid #a26497 !important;
              }

              &:hover {
                background: rgba(255, 255, 255, 0.1) !important;

                i.icon {
                  opacity: 1 !important;
                }
              }

              > i.icon {
                margin: 0 0.5em 0 0 !important;
                outline: 0 !important;
                padding: 0 !important;
                height: 20px !important;
                width: 20px !important;
                color: #abb1ba !important;
                opacity: 0.6 !important;
              }
            }

            .subMenu {
              display: none;
              margin: 0 !important;
              padding: 0 !important;
            }

            .open {
              .subMenu {
                display: flex;
                flex-direction: column;
              }
            }
          }

          &.menu {
            > .menuItem {
              > a {
                &:after {
                  content: '\f107';
                  right: 1em;
                  font-family: Icons;
                  font-style: normal;
                  font-weight: 400;
                  position: absolute;
                }
              }

              &.open {
                > a {
                  &::after {
                    content: '\f106';
                  }
                }
              }
            }
          }
        }
      }

      /**
        ------------------------------------------
        Main Content
        ------------------------------------------
      */
      &.visible {
        ~ .fixed,
        ~ .pusher {
          transform: none !important;
          margin: 0 0 0 220px !important;
        }
      }

      ~ .fixed,
      ~ .pusher {
        min-height: 100vh;
        transition: all 0.3s ease !important;

        .contentPage {
          padding: 54px 1.5em 48px;
          position: relative;
          width: 100%;
        }
      }
    }
  }
  /**
    ------------------------------------------
    Top Bar
    ------------------------------------------
  */
  &.secondary {
    &.menu {
      &.stackable {
        background-color: #fff;
        border: none !important;
        height: 54px !important;
        padding: 0px !important;
        margin: 0;
        left: 0;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 11;
        box-shadow: 0 2px 5px 0 rgba(50, 50, 93, 0.1),
          0 1px 1px 0 rgba(0, 0, 0, 0.07) !important;

        > .item {
          padding: 0 !important;
          margin: 0 !important;
        }

        .logoCont {
          width: 220px;
          padding: 0 1em;
          background: #f8f9f9;
          min-height: 100%;

          .item {
            align-self: flex-end !important;
            width: auto !important;
            padding: 0;
          }
        }
      }
    }
  }
  /**
    ------------------------------------------
    Dropdown Menu
    ------------------------------------------
  */
  &.dropdown {
    align-self: center !important;

    &:hover {
      background: rgba(0, 0, 0, 0.05) !important;
    }

    &.selected,
    .menu .selected.item {
      min-width: 9em !important;
    }

    .menu {
      z-index: 999 !important;

      > .header {
        color: rgba(0, 0, 0, 0.33) !important;
      }

      > a {
        margin: 0;
        text-align: left;
        font-size: 1em !important;
        padding: 0.78571em 1.14286em !important;
        line-height: 1em;
        display: block;
        background: 0 0 !important;
        color: rgba(0, 0, 0, 0.87) !important;
        text-transform: none !important;
        font-weight: 400 !important;
        box-shadow: none !important;
        transition: none !important;

        &:hover {
          background: rgba(0, 0, 0, 0.05) !important;
          color: rgba(0, 0, 0, 0.95) !important;
        }
      }
    }

    .text {
      margin-left: 0.25rem;
    }
  }
  /**
    ------------------------------------------
    Modals
    ------------------------------------------
  */
  &.modal {
    margin: 5em auto !important;
    position: relative !important;
    border-radius: 0 !important;

    > .close {
      top: 0 !important;
      right: 0 !important;
      color: $dark-color !important;
      opacity: 0.51 !important;
    }

    > .header {
      text-transform: capitalize;
      font-weight: 700 !important;
    }
  }
  /**
    ------------------------------------------
    Button
    ------------------------------------------
  */
  &.button {
    vertical-align: middle !important;
    min-height: $button-height;
    text-transform: capitalize !important;
    letter-spacing: 0em;
    margin: 0;
  }
  /**
    ------------------------------------------
    Card
    ------------------------------------------
  */
  &.card,
  .cards > .card {
    border: none !important;
    box-shadow: 0 8px 10px 0 rgba(10, 31, 68, 0.1),
      0 0 1px 0 rgba(10, 31, 68, 0.08) !important;
    transition: all 0.25s ease;

    &:hover {
      transition: all 0.25s ease;
    }
    > .content {
      > .header {
        display: inline-block !important;
        vertical-align: -webkit-baseline-middle;
      }

      p {
        margin-bottom: 0 !important;
      }
    }
  }
  /**
    ------------------------------------------
    Tables
    ------------------------------------------
  */
  &.table {
    background: none !important;
    border: none !important;
    border-radius: 0 !important;

    thead,
    tfoot {
      th {
        border-color: $background-color !important;
        border-width: 3px !important;
        padding: 0.92857143em !important;
        font-weight: 600 !important;
        color: lighten($dark-color, 20%) !important;
        background: lighten($background-color, 10%) !important;
        border-radius: 0 !important;
      }
    }

    tr {
      td {
        border-color: $background-color !important;
        border-width: 3px !important;
        color: lighten($dark-color, 15%) !important;
        padding: 0.78571429em 0.92857143em !important;
        background: lighten($background-color, 10%) !important;
        border-radius: 0 !important;
        font-size: 1.2em !important;
      }
    }
  }
  &.basic {
    &.label {
      padding: 0 !important;
      font-size: 0.875rem !important;
      font-weight: 600 !important;
      color: lighten($dark-color, 20%) !important;
      background: lighten($background-color, 10%) !important;
      border-radius: 0 !important;
      border: none !important;
    }
  }
  &.pagination {
    &.menu {
      min-height: 2em !important;
      border-radius: 0 !important;
      border: none !important;
      box-shadow: none !important;

      .item {
        min-width: 2em !important;
        font-size: 0.875rem !important;
        padding: 0 0.92857143em !important;
        border-radius: 0 !important;
        border: none !important;
        box-shadow: none !important;

        &:before {
          background: none !important;
        }
      }
    }
  }
  /**
    ------------------------------------------
    Forms
    ------------------------------------------
  */
  &.form {
    .fields {
      flex-direction: column;

      .wide {
        &.field {
          padding: 0 !important;
        }
      }
    }

    &.field {
      > label {
        color: $header-color;
        font-weight: 600;

        &.required {
          &:after {
            margin: -0.2em 0 0 0.2em;
            content: '*';
            color: $error-color;
          }
        }
      }
    }
  }
  &.form input:not([type]),
  &.form input[type='date'],
  &.form input[type='datetime-local'],
  &.form input[type='email'],
  &.form input[type='file'],
  &.form input[type='number'],
  &.form input[type='password'],
  &.form input[type='search'],
  &.form input[type='tel'],
  &.form input[type='text'],
  &.form input[type='time'],
  &.form input[type='url'],
  &.selection.dropdown,
  &.form textarea,
  &.input > input {
    border: 1px solid #e2e6ea !important;
    border-radius: 1px !important;
  }
  &.form [class*='equal width'],
  [class*='equal width'].form {
    &.fields {
      > .field {
        width: 100% !important;
      }
    }
  }
  &.selection {
    &.dropdown {
      min-width: 100% !important;
    }
  }
}

/**
  ------------------------------------------
  Labels
  ------------------------------------------
*/
.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  text-transform: capitalize;
  border-radius: 0.25em;
}

a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.label:empty {
  display: none;
}

.btn .label {
  position: relative;
  top: -1px;
}

.label-default {
  background-color: $background-color;
}

.label-default[href]:hover,
.label-default[href]:focus {
  background-color: $background-color;
}

.label-primary {
  background-color: $primary-color;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: $highlight-color;
}

.label-success {
  background-color: $success-color;
}

.label-success[href]:hover,
.label-success[href]:focus {
  background-color: $success-color;
}

.label-info {
  background-color: $highlight-color;
}

.label-info[href]:hover,
.label-info[href]:focus {
  background-color: $highlight-color;
}

.label-warning {
  background-color: $warning-color;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: $warning-color;
}

.label-danger {
  background-color: $error-color;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: $error-color;
}
