// Colors
$dark-color: #1A1A1A;
$light-color: #E9F1F7;
$primary-color: #9B3689;
$secondary-color: #E7DFC6;
$highlight-color: #2274A5;

$success-color: #2DD881;
$error-color: #D82D2F;
$warning-color: #EEA236;
$light-text-color: ligthen($dark-color, 20%);

$header-color: $dark-color;
$text-color: $dark-color;
$background-color: #F0F2F5;

// Dimensions
$button-height: 2.2em;
